<html>
  <head>
    <title>Petit VueTube</title>
  </head>
  <body>
    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!--  query and Initiate all elem that use petit vue -->
    <!-- <script src="https://unpkg.com/petite-vue" defer init></script> -->
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";
      function Container(props) {
        return {
          terms: "Kygo|diplo|skrillex|zedd",
          key: "ENTER_YT_KEYS",
          async getVideos() {
            var channelInfo = await fetch(
              `https://www.googleapis.com/youtube/v3/search?key=${this.key}&q=${this.terms}&part=snippet,id&order=date&maxResults=20`
            );
            var response = await channelInfo.json();
            this.videos = response.items;
          },
        };
      }

      function Video(props) {
        return {
          $template: "#video-component",
          videoId: props.videoId,
          thumbnail: props.thumbnail,
          title: props.title,
        };
      }

      createApp({
        Container,
        Video,
      }).mount();
    </script>

    <template id="video-component">
      <div>
        <a :href="`https://youtube.com/watch?v=${videoId}`">
          <img :src="`${thumbnail}`" alt="thumbnail" class="h-20 w-20" />
          <p>{{title}}</p>
        </a>
      </div>
    </template>
    <div v-scope="Container()">
      <input v-model="terms" type="text" class="border p-2" />
      <button
        @click="getVideos"
        class="p-2 rounded-md bg-yellow-500 font-black"
      >
        Show
      </button>
      <div>
        <div
          v-for="(video,index) in videos"
          :key="index"
          class="p-4 m-4 bg-pink-500"
        >
          <div
            v-scope="Video({videoId: video.id.videoId, thumbnail: video.snippet.thumbnails.high.url, title: video.snippet.title})"
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
